# URL da API
VITE_API_URL=https://seu-server.vercel.app/api

# Supabase
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_KEY=sua_chave_anon_aqui

# Modo
VITE_MODE=development ou production
